body
{
    background-color: #c4c4c4;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #989898;
    margin-top: -10px;
    padding: 0;




}


#logo {

margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;

}


img {
width: 120px;
height: 80px;
}




#main {
width: 1900px;
height: 900px;
border-radius: 5%;
background-color: #989898;
margin-top: 30px;

}



